/* /* :root{
    -webkit-background-origin:#79824D, #DBCEC5,#9A7C68, #9DAE84;
} */
/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400&display=swap'); */

body {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

.img-container {
    background-color: #DBCEC5;
    background-image: url(../img/coffee-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 100vh;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #79824D;
    width: 66vw;
    height: 100%;
    margin: 0 auto;
    padding: 1.5rem;
}

.input-container {
    display: flex;
    padding: 1rem;
    margin: 0 auto;
}

.btn-link {
    color: black;
}

.btn-link:hover {
    color: #DBCEC5;
} 